body {
    margin:0;
    background-color: #282828;
    color:#fff
}

header {
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

header input {
    height:22px;
}

.brandname {
    padding-top: 20px;
    font-size: 20px;
    padding-left: 30px;
}

nav {
    padding-left: 750px;
    font-size: 18px;

    
}

a {
    cursor:pointer;
}

.aone {
    padding-right:15px;
}

.atwo {
    padding-right:15px;
}

.athree {
    padding-right:15px;
}

.search {
    padding-left: 110px;

}

.line {
    margin-top: 15px;
    height: 0.07px;
    width: auto;
    background-color: #ccf;
}

video {
    background-color: #282825;
    display: flex;
    margin:auto;
    margin-top:50px;
}

.description {
    display:flex;
    height: 100px;
    flex-direction:column;
    margin-left: 400px;
    
}


.desc {
    margin-top: 0;
}


footer {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 15px;
}